body {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background: rgb(255, 211, 211);
 /* NAO DEIXA A PESSOA SELECIONAR TEXTO */
 user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background: whitesmoke;
    box-shadow: 5px 5px 12px hsl(0, 0%, 47%);
}

h2 {
    font-size: 3em;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
    
}

button {
    padding: 15px;
    width: 100%;
    border: none;
    background-color: #808080;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.reset:focus {
 background-color: #4d4d4d;   
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    /* WARP FAZ QUEBRAR LINHA */
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b9b9b9;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #4d4d4d;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after {
    transform: rotateY(180deg);
}